body {
  padding-top: 60px;
  padding-bottom: 40px;
}
hr {
  margin: 0 0 10px 0;
}
#sidebar {
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 220px;
  padding: 0 0 20px 20px;
}
.content {
  margin-left: 260px;
  margin-right: 20px;
}
#map {
  position: absolute;
  top: 40px;
  left: 260px;
  right: 0;
  bottom: 0;
}
/* fixes a conflict between GMaps and Twitter Bootstrap */
#map label {
  display: inline;
}
.actions {
  text-align: right;
  margin-bottom: 40px;
}  
.brand {
  letter-spacing: 1px;
  font-weight: bold;
}

/* Google and Flickr colors */
.gb {
  color: #0063dc;
}
.gr {
  color: #d41800;
}
.gy {
  color: #f3c518;
}
.gg {
  color: #35b72f;
}
.fb {
  color: #0063dc;
}
.fp {
  color: #fe63bb;
}

/* css to wrap photos */
div.photos {
  max-width: 400px;
  max-height: 200px;
  overflow-y: auto;
}

div.photos img {
  width: 75px;
  height: 75px;
  margin: 5px;
  border: 1px solid #666;
}
